$font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
$border-color: #333;
$cell-size: 60px;
$primary: #333;
// $primary: #1862d0;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  font-family: $font-family;
  width: 100%;
}

.title {
  margin: 0;
}

// .button {
//   padding: 8px 16px;
//   border-radius: 4px;
//   border: 1px solid #ccc;
//   background: #f4f4f4;
//   cursor: pointer;
//   font-size: 12px;

//   &:hover {
//     background: #e9e9e9;
//   }

//   &:active {
//     background: #ddd;
//   }
// }

.grid {
  display: grid;
  grid-template-columns: repeat(5, $cell-size);
  grid-template-rows: repeat(5, $cell-size);
  gap: 2px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid $border-color;
  box-sizing: border-box;
  user-select: none;
  white-space: nowrap;
  transition: 150ms ease-in-out;
  background-color: white;

  // &:hover, &:focus {
  //   border-color: darken($border-color, 10%);
  // }

  p {
    margin: 0;
    transition: opacity 150ms ease-in-out;
    color: #111;
  }

  .title {
    font-size: 14px;
    font-weight: bold;
    color: #111;
  }
  .desc {
    font-size: 9px;
    color: $border-color;
  }

  &:hover, &:active, &::highlight {
    background: transparent;
  }

  &.flipped {
    background: rgba($primary, 0.22);
    border-color: $primary;
    color: $primary;
    transform: rotateY(180deg);

    p {
      opacity: 0.4;
    }
  }

  &.bingoCell {
    background: #ffd43bac;
    // color: #ffd43b;
    animation: bingoPulse 200ms ease-out forwards;

    p {
      // color: #ffd43b;
    }

    
    .cellFace {
      // 텍스트에 줄 긋기 (줄 애니메이션 느낌)
      // text-decoration: line-through;
      // text-decoration-thickness: 1px;
      // text-decoration-color: $primary;
      // text-underline-offset: 1px;
      // color: #ffd43b;

    }

    // .cellBack {
      // 빙고인 칸은 살짝 더 밝게
      // background: lighten($primary, 5%);
    // }
  }
}

@keyframes bingoPulse {
  10% {
    scale: 0.8;
    rotate: -10deg;
  }
  60% {
    scale: 1.08;
    rotate: 20deg;
  }
  100% {
    scale: 1;
  }
}


/* (선택) 인쇄용 스타일 기본 베이스 */
@media print {
  .wrapper {
    gap: 8px;
  }

  .button {
    display: none; // 프린트할 때 섞기 버튼 안 나오게
  }

  .grid {
    gap: 0;
  }

  .cell {
    border-width: 2px;
    font-size: 16px;
  }
}
